<div class="page-upper">
  <div class="row">
    <div class="page-left-contact col-md-6 col-sm-12">
      <h1>Nous contacter</h1>

      <br>

      <div class="roboto-black-small">
        <p>Sur rendez-vous du lundi au vendredi de 9h à 18h30</p>
      </div>

      <br>

      <div class="contact-info roboto-black-small">
        <div class="contact-info-left">
          <i class="fas fa-map-marker-alt"></i> <p>94 av. du Général Leclerc, Bourg-la-Reine</p>
        </div>

        <div class="contact-info-middle">
          <i class="fab fa-facebook-f"></i>
          <div><a href="tel:+33961662607" id="phone-contact"><p>+33 9 61 66 26 07</p></a></div>
        </div>

        <div class="contact-info-right">
          <%= link_to "https://www.facebook.com/kaizostudio", target: :_blank do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
          <%= link_to "https://www.instagram.com/kaizostudio/", target: :_blank do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </div>
      </div>

      <div class="map">
<!--         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8841.11109571648!2d2.310137054594033!3d48.77952595708218!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e670d5f28d9553%3A0x575c45fe35959c85!2s94+Avenue+du+G%C3%A9n%C3%A9ral+Leclerc%2C+92340+Bourg-la-Reine!5e0!3m2!1sfr!2sfr!4v1536324493920" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
        <!-- <iframe src="https://snazzymaps.com/embed/96668" width="600px" height="300px" style="border:none;"></iframe> -->
        <!-- <iframe src="https://snazzymaps.com/embed/96668" width="600px" height="300px" style="border:none;"></iframe> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6621.378673049525!2d2.309774100831703!3d48.777762203303624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDQ2JzQyLjYiTiAywrAxOCc1My45IkU!5e0!3m2!1sen!2sfr!4v1536572651419" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="page-right col-md-6 col-sm-12">
      <div class="wrapper-form">
        <%= form_for @message, url: create_message_url do |f| %>
          <%= @message.errors.full_messages.join(', ') %>

          <%= f.text_field :name, placeholder: 'Votre nom', class: "form-inputs" %>
          <%= f.email_field :email, placeholder: 'Votre e-mail', class: "form-inputs" %>
          <%= f.phone_field :phone, placeholder: 'Votre numéro de téléphone', class: "form-inputs" %>
          <%= f.text_area :body, placeholder: 'Votre message', class: "form-inputs form-body" %>
          <div class="form-controls">
            <%= f.submit 'Send', value: 'ENVOYER', class: "form-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>




