<div class="home-wrapper">
  <div class="home-upper">
    <div class="home-left">
      <% @home_descriptions.sort_by {|hd| [hd.role] }.each do |hd| %>
        <div <%= hd.style == "Heading Roboto 100 Black" ? "class=roboto-black-big" : "class=roboto-gray-small" %>>
          <%= simple_format(hd.text, {}, wrapper_tag: "h1") %>
        </div>
        <br>
      <% end %>
    </div>
    <div class="home-right">
      <%= link_to image_tag("kaizo-studio-design-appartement-aboukir-paris.png", id: "banner"), root_path %>
    </div>
  </div>

  <div class="home-lower">
    <h1>Réalisations récentes</h1>
    <% @featured_realisations.order(:created_at).each do |fr| %>
      <p><%= fr.title %></p>
      <%= cl_image_tag fr.cover_picture, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>



