<div class="page-upper">
<!--   <div class="row"> -->
    <div class="page-left col-md-6 col-sm-12">
      <% @home_descriptions.sort_by {|hd| [hd.role] }.each do |hd| %>
        <div
          <% if hd.style == "Heading Roboto 300 Black" %>
            <%= "class=roboto-black-big" %>
          <% elsif hd.style == "Body Roboto 300 Grey" %>
            <%= "class=roboto-gray-small" %>
          <% elsif hd.style == "Body Roboto 400 Grey" %>
            <%= "class=roboto-gray-bold-small" %>
          <% end %>
        >
          <%= simple_format(hd.text, {}, wrapper_tag: "h1") %>
        </div>
        <br>
      <% end %>
    </div>
    <div class="page-right col-md-6 col-sm-12">
      <%= link_to image_tag("kaizo-studio-design-appartement-aboukir-paris.png", id: "banner"), root_path %>
    </div>
<!--   </div> -->
</div>

<div class="page-lower">
<!--   <div class="row"> -->
    <h1>Réalisations récentes</h1>
<!--   </div> -->
  <div class="home-slider">
<!--     <div class="row"> -->
      <% @featured_realisations.order(:created_at).each do |fr| %>
        <%= link_to realisation_path(fr.url) do %>
          <div class="home-slider-item col-md-2">
              <%= cl_image_tag fr.cover_picture, class: "home-slider-picture" %>
              <p><%= fr.title %></p>
          </div>
        <% end %>
      <% end %>
      <div class="home-slider-plus col-md-2">
        <%= link_to realisations_path do %>
          <%= image_tag "add.png", class: "plus-sign" %>
        <% end %>
      </div>
<!--     </div> -->
  </div>
</div>

<%#= render 'cookies_eu/consent_banner', link: '/cookies' %>


