<div class="page-upper">
  <div class="page-upper">
    <div class="row">
      <div class="page-left col-md-6 col-sm-12">
        <% @realisations_descriptions.sort_by {|rd| [rd.role] }.each do |rd| %>
          <div
            <% if rd.style == "Heading Roboto 300 Black" %>
              <%= "class=roboto-black-big" %>
            <% elsif rd.style == "Body Roboto 300 Grey" %>
              <%= "class=roboto-gray-small" %>
            <% elsif rd.style == "Body Roboto 400 Grey" %>
              <%= "class=roboto-gray-bold-small" %>
            <% end %>
          >
            <%= simple_format(rd.text, {}, wrapper_tag: "h1") %>
          </div>
          <br>
        <% end %>
      </div>
      <div class="page-right col-md-6 col-sm-12">
        <%= image_tag("nolan-issac-unsplash-agence-banner.png", id: "index-banner") %>
      </div>
    </div>
  </div>
</div>

<div class="page-lower">
  <div class="index-cards">
    <div class="row">
      <% @realisations.each do |r| %>
        <%= link_to realisation_path(r) do %>
          <div class="index-item col-md-4">
            <%= cl_image_tag r.cover_picture, class: "index-item-picture" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
